<html>
	<body>
		<p>There has been a comment on your article: <%=@article.title%>, made by: <%=@comment.name%><br/>
		The comment is as follows:
		</p>
		<p>
		<%= @comment.body %>
		</p>
	</body>
</html>